<div class="col col-xs-12 col-sm-12 col-md-6 col-xl-5 stats-col">
  <div class="card stats" style="height: 291px;">
    <div class="card-block">
      <div class="title-block">
        <h4 class="value">Баланс: {{rub | currency: 'RUB':'symbol-narrow':'1.2'}}</h4>
      </div>
      <div class="row row-sm stats-container">
        <div class="card-block">
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group" [ngClass]="{'has-error': capacity.invalid && capacity.touched}">
              <label class="control-label" for="category-value">Пополнение счёта</label>
              <input type="number" id="category-value" class="form-control"
                     [ngModel]="capacity" name="capacity" #capacity="ngModel" wfmPositive
                     required min="1">
              <span
                *ngIf="capacity.invalid && capacity.touched"
                class="form-help-text">Заполните поле</span>
              <span
                *ngIf="capacity.invalid && capacity.touched"
                class="form-help-text has-error">Число только положительное</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || submitted">Пополнить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
