<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section" *ngIf="isLoaded; else loading">
  <div class="row">
    <div class="col-md-6">
      <wfm-add-event></wfm-add-event>
    </div>
    <div class="col-md-6">
      <wfm-add-category (addCategory)="addCategory($event)"></wfm-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <wfm-edit-category
        [categories]="categories"
        (editCategory)="updateCategory($event)"
        (deleteCategory)="deleteCategory($event)">
      </wfm-edit-category>
    </div>
  </div>
</section>
<ng-template #loading>
  <section class="section text-center">Загрузка...</section>
</ng-template>
