<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="refresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="isLoaded; else loading">
    <wfm-bill-currency-card [currency]="currency" [coin]="coins"></wfm-bill-currency-card>
    <wfm-bill-balance-card [bill]="bill" [coins]="coins"></wfm-bill-balance-card>
    <wfm-bill-fill-card [bill]="bill" (addBalance)="addBalance($event)"></wfm-bill-fill-card>
  </div>
</section>
<ng-template #loading>
  <div class="row text-center">
    <wfm-loader></wfm-loader>
  </div>
</ng-template>
