<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="refresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <!--  <div class="row text-center" *ngIf="!isLoaded">Загрузка...</div>-->
  <div class="row" *ngIf="isLoaded; else loading">
    <wfm-bill-card [bill]="bill" [currency]="currency"></wfm-bill-card>
    <wfm-currency [currency]="currency" [coin]="coins"></wfm-currency>
  </div>
</section>
<ng-template #loading>
  <div class="row text-center">Загрузка...</div>
</ng-template>
